@font-face {
  font-family: 'city';
  src:
    url('fonts/city.ttf?4wpx6a') format('truetype'),
    url('fonts/city.woff?4wpx6a') format('woff'),
    url('fonts/city.svg?4wpx6a#city') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="city-"], [class*=" city-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'city' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.city-city-accessibility:before {
  content: "\e900";
}
.city-city-balance:before {
  content: "\e901";
}
.city-city-bank:before {
  content: "\e902";
}
.city-city-bell:before {
  content: "\e903";
}
.city-city-bell-2:before {
  content: "\e904";
}
.city-city-bell-3:before {
  content: "\e905";
}
.city-city-bell-4:before {
  content: "\e906";
}
.city-city-bike:before {
  content: "\e907";
}
.city-city-building:before {
  content: "\e908";
}
.city-city-building-2:before {
  content: "\e909";
}
.city-city-building-3:before {
  content: "\e90a";
}
.city-city-building-4:before {
  content: "\e90b";
}
.city-city-cactus:before {
  content: "\e90c";
}
.city-city-camera:before {
  content: "\e90d";
}
.city-city-card:before {
  content: "\e90e";
}
.city-city-cigarette:before {
  content: "\e90f";
}
.city-city-clock:before {
  content: "\e910";
}
.city-city-earth:before {
  content: "\e911";
}
.city-city-electricity:before {
  content: "\e912";
}
.city-city-energy:before {
  content: "\e913";
}
.city-city-extinguisher:before {
  content: "\e914";
}
.city-city-extinguisher-2:before {
  content: "\e915";
}
.city-city-extinguisher-3:before {
  content: "\e916";
}
.city-city-factory:before {
  content: "\e917";
}
.city-city-factory-2:before {
  content: "\e918";
}
.city-city-fire:before {
  content: "\e919";
}
.city-city-fire-truck:before {
  content: "\e91a";
}
.city-city-flashlight:before {
  content: "\e91b";
}
.city-city-flower:before {
  content: "\e91c";
}
.city-city-flower-2:before {
  content: "\e91d";
}
.city-city-flower-3:before {
  content: "\e91e";
}
.city-city-flower-4:before {
  content: "\e91f";
}
.city-city-foot:before {
  content: "\e920";
}
.city-city-gas:before {
  content: "\e921";
}
.city-city-gram:before {
  content: "\e922";
}
.city-city-hat:before {
  content: "\e923";
}
.city-city-house:before {
  content: "\e924";
}
.city-city-information:before {
  content: "\e925";
}
.city-city-judge:before {
  content: "\e926";
}
.city-city-key:before {
  content: "\e927";
}
.city-city-keys:before {
  content: "\e928";
}
.city-city-kilogram:before {
  content: "\e929";
}
.city-city-leaf:before {
  content: "\e92a";
}
.city-city-lightbulb:before {
  content: "\e92b";
}
.city-city-lightbulb-2:before {
  content: "\e92c";
}
.city-city-lightbulb-3:before {
  content: "\e92d";
}
.city-city-lighthouse:before {
  content: "\e92e";
}
.city-city-lock:before {
  content: "\e92f";
}
.city-city-lock-2:before {
  content: "\e930";
}
.city-city-luggage:before {
  content: "\e931";
}
.city-city-map:before {
  content: "\e932";
}
.city-city-medal:before {
  content: "\e933";
}
.city-city-no-smoking:before {
  content: "\e934";
}
.city-city-pepper-spray:before {
  content: "\e935";
}
.city-city-pound:before {
  content: "\e936";
}
.city-city-radioactive:before {
  content: "\e937";
}
.city-city-recycling:before {
  content: "\e938";
}
.city-city-rolling-platform:before {
  content: "\e939";
}
.city-city-safe:before {
  content: "\e93a";
}
.city-city-safe-2:before {
  content: "\e93b";
}
.city-city-scissors:before {
  content: "\e93c";
}
.city-city-scissors-2:before {
  content: "\e93d";
}
.city-city-service:before {
  content: "\e93e";
}
.city-city-solar:before {
  content: "\e93f";
}
.city-city-stairs-down:before {
  content: "\e940";
}
.city-city-stairs-down-2:before {
  content: "\e941";
}
.city-city-stairs-down-3:before {
  content: "\e942";
}
.city-city-stairs-down-4:before {
  content: "\e943";
}
.city-city-stairs-down-5:before {
  content: "\e944";
}
.city-city-stairs-up:before {
  content: "\e945";
}
.city-city-stairs-up-2:before {
  content: "\e946";
}
.city-city-stairs-up-3:before {
  content: "\e947";
}
.city-city-stairs-up-3-1:before {
  content: "\e948";
}
.city-city-stairs-up-4:before {
  content: "\e949";
}
.city-city-star:before {
  content: "\e94a";
}
.city-city-tree:before {
  content: "\e94b";
}
.city-city-tree-2:before {
  content: "\e94c";
}
.city-city-tree-3:before {
  content: "\e94d";
}
.city-city-vip:before {
  content: "\e94e";
}
.city-city-wallet:before {
  content: "\e94f";
}
.city-city-waste:before {
  content: "\e950";
}
.city-city-water:before {
  content: "\e951";
}
.city-city-weight:before {
  content: "\e952";
}
.city-city-whistle:before {
  content: "\e953";
}
.city-city-wind-turbine:before {
  content: "\e954";
}
.city-city-wind-turbine-2:before {
  content: "\e955";
}
.city-city-wind-turbine-3:before {
  content: "\e956";
}
.city-city-workers:before {
  content: "\e957";
}
